{% extends "AppLasLocas/padre.html" %} 

{% load static %} 



{% block titulo %}

<!---header-wrap--->
  <div class="wrap4">
    <div class="container">
      <div class="leftcol">
        <div class="title">
          <h1>Tratamientos faciales: lo nuevo</h1>
        </div>
        <div class="page-content">
        <div class="panel borderbotm-none">
          <div class="content">
            <p align ="right">Martes 18 de Octubre de 2022</p>
            <h2>Las 3 tendencias en medicina estética para rejuvenecer tu rostro este 2022</h2>
            <p>A día de hoy nuestra imagen es nuestra carta de presentación y por ello cada vez nos preocupamos más en cuidarla y tratarla.</p>
            <p>Los tratamientos de medicina estética se han convertido en los últimos años en un aliado perfecto para tener una piel más luminosa, parecer más jóvenes y retrasar la aparición de los primeros signos de la edad, tanto en hombres como en mujeres.</p>
            <p>Con la pandemia la tendencia en medicina estética cambió y los pacientes reclamaban los tratamientos relacionados con el rejuvenecimiento de la mirada, algo que continuará siendo demandado este 2022.</p>
            <p>En una sociedad donde la cirugía plástica y medicina estética tiene un papel más visible, estas son las tendencias que marcarán el sector durante este año. .</p>
            <br>
            <h3 id = "ref1">1. Relleno con ácido hialurónico</h3>
            <br>
            <p><b>El ácido hialurónico es uno de los rellenos faciales más demandados.</b> Su objetivo es combatir el envejecimiento y rellenar surcos y arrugas propias de la edad, sin recurrir a la cirugía.</p>
            <p>El relleno con ácido lo podemos aplicar para <b>atenuar el surco nasogeniano, suavizar arrugas o líneas de expresión alrededor de la boca, eliminar ojeras o disimular bolsas de los ojos.</p></b>  
            <p>Con los rellenos se consigue <b>reducir el descenso de los tejidos faciales</b>, castigados con el paso de la edad y acabando con la sensación de que la piel de la cara se cuelga y se cae, disminuyendo con la sensación de flacidez y falta de firmeza en el rostro.</p>
            <p>El ácido nos permite remodelar formas y contornos del rostro y labios, y <b>otorgar volumen en las áreas modificadas por el proceso de envejecimiento.</p></b>
            <br>
            <h4>Cuánto dura el efecto del ácido hialurónico</h4>
            <br>
            <p>Los resultados estéticos del relleno con ácido hialurónico son inmediatos ya que la sustancia inyectada rellena las arrugas. <b>El efecto del ácido hialurónico suele durar unos 9-12 meses en función de la edad, de la zona inyectada, de la calidad de la piel y del estilo de vida.</p></b> 
            <br>
            <h3 id = "ref2">2. Toxina Botulínica</h3>
            <br>
            <p><b>Si hay un tratamiento que nunca pasa de moda en medicina estética es la aplicación de la toxina botulínica</b>, también conocido como botox.</b></p>
            <p>Con las técnicas mínimamente invasivas que trabajamos en nuestra clínica, podemos obtener un efecto de elevación y estiramiento tanto en las cejas como en el resto del rostro sin que tengas que someterte a una cirugía. </p>
            <p>La función del bótox es la de relajar los músculos faciales. Es uno de los tratamientos estrellas en la medicina estética, ya que nos ayuda a <b>combatir el envejecimiento, tratar y prevenir las arrugas de expresión causadas por la contracción repetida y constante de la musculatura facial.</b></p>
            <p>La toxina botulínica se suele aplicar en el tercio superior del rostro, reduciendo las arrugas del entrecejo, la frente y las temidas patas de gallo. Además, nos puede ayudar a lucir una mirada más abierta y relajada.</p>
            <br>
            <h4>Cuánto dura el efecto del bótox</h4>
            <br>
            <p>Muchas personas se preguntan cuánto duran los efectos del bótox. La toxina botulínica es una proteína que se interpone entre las terminaciones nerviosas y el músculo, impidiendo su contracción. <b>Este bloqueo es selectivo y reversible, haciendo su aplicación muy segura.</p></b>
            <p><b>El efecto comienza a ser apreciable a los 4 ó 5 días,</b> y llega a su máximo a los 12-15 días después del tratamiento, por lo que no se aprecia un cambio brusco.</p>
            <p>Existe un período de unas ocho a dieciséis semanas en el que se mantienen los resultados. La mayor parte de los pacientes notan a partir de este momento una recuperación, lenta pero progresiva, de la contractilidad en las zonas tratadas.</p>
            <br>
            <h3 id = "ref3">3. Hilos tensores para rejuvenecer el rostro</h3>
            <br>
            <p>La flacidez en la cara es uno de los signos del paso del tiempo que más preocupa a hombres y mujeres. La flacidez es la <b>pérdida de firmeza de la piel causada por la disminución de las fibras de elastina y colágeno,</b> las cuales proporcionan esa elasticidad a la piel y resistencia.</p>
            <p>La preocupación por corregir la flacidez ha hecho que el tratamiento con hilos tensores sea de los más demandados para los médicos estéticos. Los hilos tensores están indicados <b>sobre todo para personas a partir de los 35 años que desean mejorar y prevenir la flacidez facial.</p></b>
            <p>También para aquellas que desean modificar ligeramente la forma de los ojos levantándolos y alargándolos de forma simultánea a la cola de la ceja (Foxy eyes).</p>
            <p>Sea cual sea la tendencia, nuestra recomendación es que <b>antes de elegir un tratamiento recibas la valoración de un médico estético para que analice tus rasgos y te paute el tratamiento más adecuado a tus necesidades.</p></b>
            <br>
            <br>
            <p>Solicita más información sobre estos tratamientos haciendo <b><a href="{% url 'Contacto' %}">click aqui</a></p></b>


          </div>
        </div>
        </div>
        
      </div>
      <div class="rightcol">
        <div class="title">
          <h1>Guía</h1>
        </div>        <div class="panel">
          <div class="content">
            <ul>
              <li><a href="#ref1">Relleno con ácido hialurónico</a></li>
              <li><a href="#ref2">Toxina Botulínica</a></li>
              <li><a href="#ref3">Hilos tensores</a></li>
            </ul>
          </div>
        </div>
      </div>
    <div class="clearing"></div>  
    </div>
  </div>
{% endblock %} 