{% extends "AppLasLocas/padre.html" %} 

{% load static %} 



{% block titulo %}

<!---header-wrap--->
  <div class="wrap4">
    <div class="container">
      <div class="leftcol">
        <div class="title">
          <h1>5 beneficios del lifting de pestañas</h1>
        </div>
        <p align ="right">Martes 18 de Octubre de 2022</p>
        <div class="page-content">
        <div class="panel borderbotm-none">
          <div class="content">
            <br>
            <p>Ay, el lifting de pestañas… Mentiríamos si no dijeramos que <b>es la alternativa perfecta para lucir unas pestañas infinitas.</b> No nos extraña que cada vez más y más personas reserven este tratamiento para conseguir una mirada XXL.</p>
            <p>Y es que además con el lifting se consigue un resultado de lo más natural: unas pestañas largas, definidas y llenas de volumen. Si es que cómo no nos va a encantar este tratamiento…</p>
            <br>
            <h3 id = "ref1">1. No daña tus pestañas</h3>
            <br>
            <p>El lifting de pestañas <b>es de los tratamientos menos agresivos para conseguir una mirada de cine.</b> Siempre y cuando te lo hagas en un sitio especializado, claro. El tratamiento es simple: <b>se estiran las pestañas desde la raíz y se fijan con un gel para que el resultado dure meses.</b> Y créenos cuando te decimos que en todo el proceso, tus pestañas no sufrirán lo más mínimo.</p>
            <br>
            <h3 id = "ref2">2. Se consigue más volumen</h3>
            <br>
            <p>Con el lifting, se estiran <b>incluso las pestañas más cortas.</b> Lo que aporta más volumen a tu mirada. Eso es, lucirás unas pestañas XXL allá donde vayas. ¿Y en cuanto a la máscara de pestañas? Si quieres, ¡te podrás olvidar de ella por una temporada!</p>
            <br>
            <h3 id = "ref3">3. Tratamiento express</h3>
            <br>
            <p>El proceso es de lo más sencillo. Primero pondrán unas almohadillas de silicona en tus párpados para pegar las pestañas, después pondrán el gel fijador y, tras esperar un poco para que haga efecto… <b>¡En menos de una hora tendrás unas pestañas larguísimas y llenas de personalidad!</p></b> 
            <br>
            <h3 id = "ref4">4. Resultado natural</h3>
            <br>
            <p>¿Resultado? ¡Pestañas completamente naturales! El lifting lo único que se hace es levantar las pestañas desde la raíz haciendo que parezcan más largas y densas. Así que si lo quieres mantener en secreto, <b>¡nadie descubrirá cuál es el truco!</p></b> 
            <br>
            <h3 id = "ref5">5. Larga duración</h3>
            <br>
            <p> Lo mejor es que tiene una duración de <b>aproximadamente dos meses.</b> Lo que quiere decir que en verano, si te apetece, te lo puedes hacer al principio y te aguantará hasta la vuelta de vacaciones. Perfecto para meterse en la piscina o en la playa sin preocuparte de que se te quite la máscara de pestañas. Porque con el lifting… ¡no te hará falta!</p>

            <br>
            <p>Solicita más información sobre este tratamiento haciendo <b><a href="{% url 'Contacto' %}">click aqui</a></p></b>


          </div>
        </div>
        </div>
        
      </div>
      <div class="rightcol">
        <div class="title">
          <h1>Guía</h1>
        </div>        <div class="panel">
          <div class="content">
            <ul>
              <li><a href="#ref1">No daña tus pestañas</a></li>
              <li><a href="#ref2">Más volumen</a></li>
              <li><a href="#ref3">Tratamiento express</a></li>
              <li><a href="#ref5">Resultado natural</a></li>
              <li><a href="#ref5">Larga duración</a></li>
            </ul>
          </div>
        </div>
      </div>
    <div class="clearing"></div>  
    </div>
  </div>
{% endblock %} 